<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>phaser</title>
  </head>
  <body>
      <!--<script src="https://cdn.jsdelivr.net/npm/phaser@3.19.0/src/phaser.min.js"></script>-->
      <script src="https://cdn.jsdelivr.net/npm/phaser@3.19.0/dist/phaser.min.js"></script>
      <script src="js/main.js"></script>
  
  </body>
</html>